<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление операции</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="w3-container">
    <br>

    <div>
        <div style="display:inline-block;">
            <form action="#" th:action="@{|/home/${user.id}|}" method="get">
                <button class="w3-button w3-circle w3-teal fa fa-home w3-large"></button>
            </form>
        </div>
        <div style="display:inline-block;">
            <form action="#" th:action="@{/login}" method="get">
                <button class="w3-button w3-circle w3-teal fa fa-sign-out w3-large"></button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="w3-container w3-teal">
        <h2>Введите данные об операции</h2>
    </div>

    <form action="#" th:action="@{|/user/${user.id}/add-operation|}" th:object="${operation}" method="post">
        <p><label class="w3-text-teal">Счёт отправления</label>
            <select class="w3-select" th:field="*{senderId}">
                <option th:each="account : ${user.accounts}"
                        th:value="${account.id}"
                        th:utext="${account.accountNumber}"/>
            </select>
        </p>
        <p><label class="w3-text-teal">Счёт получения</label>
            <select class="w3-select" th:field="*{receiverId}">
                <option th:each="account : ${accounts}"
                        th:value="${account.id}"
                        th:utext="${account.accountNumber}"/>
            </select>
        </p>
        <p><label class="w3-text-teal">Сумма</label><input class="w3-input w3-border w3-light-grey" type="number" th:field="*{amount}"/></p>
        <p><button type="submit" class="w3-button w3-red">Добавить</button></p>
    </form>
</div>
</body>
</html>