<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашнаяя страница пользователя</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="w3-container">
    <br>

    <div>
        <div style="display:inline-block;">
            <form action="#">
                <button class="w3-button w3-circle w3-teal fa fa-home w3-large"></button>
            </form>
        </div>
        <div style="display:inline-block;">
            <form action="#" th:action="@{/login}" method="get">
                <button class="w3-button w3-circle w3-teal fa fa-sign-out w3-large"></button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>

    <form action="#" th:action="@{|/show-user/${userId}/home|}" method="get">
        <button type="submit" class="w3-button w3-red">Просмотреть личные данные пользователя</button>
    </form>

    <br>
    <form action="#" th:action="@{|/edit-user/${userId}/home|}" method="get">
        <button type="submit" class="w3-button w3-blue">Изменить личные данные пользователя</button>
    </form>

    <br>
    <form action="#" th:action="@{|/user/${userId}/accounts|}" method="get">
        <button type="submit" class="w3-button w3-green">Список счетов</button>
    </form>

    <br>
    <form action="#" th:action="@{|/user/${userId}/operations|}" method="get">
        <button type="submit" class="w3-button w3-aqua">Список операций</button>
    </form>

    <br>
    <form action="#" th:action="@{/home-admin}" method="get">
        <button type="submit" th:classappend="${admin} ? 'w3-show' : 'w3-hide'"
                class="w3-button w3-yellow">В режим администратора</button>
    </form>
</div>
</body>
</html>