<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="w3-container">
    <br>

    <div>
        <div style="display:inline-block;">
            <form action="#" th:action="@{${returnUrl != 'home' ? '/home-admin' : '/home/' + userId}}" method="get">
                <button class="w3-button w3-circle w3-teal fa fa-home w3-large"></button>
            </form>
        </div>
        <div style="display:inline-block;">
            <form action="#" th:action="@{/login}" method="get">
                <button class="w3-button w3-circle w3-teal fa fa-sign-out w3-large"></button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="w3-container w3-teal">
        <h2>Информация о пользователе</h2>
    </div>

    <form action="#" th:action="@{|/${action}/${userId}/${returnUrl}|}" th:object="${user}" method="post">
        <p><label class="w3-text-teal">Логин</label><input class="w3-input w3-border w3-light-grey" type="text" th:field="*{login}"/></p>
        <p><label class="w3-text-teal">Пароль</label><input class="w3-input w3-border w3-light-grey" type="text" th:field="*{password}"/></p>
        <p><label class="w3-text-teal">Имя</label><input class="w3-input w3-border w3-light-grey" type="text" th:field="*{name}"/></p>
        <p><label class="w3-text-teal">Фамилия</label><input class="w3-input w3-border w3-light-grey" type="text" th:field="*{surname}"/></p>
        <p><label class="w3-text-teal">Отчество</label><input class="w3-input w3-border w3-light-grey" type="text" th:field="*{patronymic}"/></p>
        <p><label class="w3-text-teal">Адрес</label><input class="w3-input w3-border w3-light-grey" type="text" th:field="*{address}"/></p>
        <p><input class="w3-check" type="checkbox" th:field="*{admin}"><label class="w3-text-teal">Администратор</label></p>
        <p><button type="submit" th:classappend="${show} ? 'w3-hide' : 'w3-show'" class="w3-button w3-green">Сохранить</button></p>
        <p><button type="submit" th:classappend="${show} ? 'w3-show' : 'w3-hide'" class="w3-button w3-pink">Закрыть</button></p>
    </form>
</div>
</body>
</html>